.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in; /*Transition applied as requested*/
  opacity: 0;
  font-family: "Poppins", "Arial", sans-serif;
}
.modal_opened {
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s ease-in; /*Transition applied as requested*/
  opacity: 1;
}
.modal__container {
  max-width: 730px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  max-width: fit-content;
  width: auto;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  position: relative;
  cursor: pointer; /* Applied as requested*/
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  margin: 0;
  padding: 4px 8px;
  width: max-content;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 1);
}
.modal__close-button {
  height: 40px;
  width: 40px;
  background-image: url(../images/close_button.svg);
  opacity: 40%;
  border: none;
  border-radius: 8px;
  cursor: pointer; /* Applied as requested*/
  position: absolute;
  top: 32px;
  right: 50px;
  background-color: transparent;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__close-button_preview {
  background-image: url(../images/close-light.svg);
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  margin-left: 12.6px;
  cursor: pointer; /* Applied as requested*/
}

.modal__close-button_preview:hover {
  opacity: 40%;
}

.modal__submit-button {
  height: 52px;
  width: 156px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: white;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  border: none;
}
.modal__label {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__input {
  height: 52px;
  max-width: 630px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  gap: 32px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  cursor: pointer;
  margin-bottom: 32px;
  padding: 16px 12px;
  font-size: 20px;
  line-height: 20px;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 34px;
  }
  .modal__label {
    line-height: 16px;
  }
  .modal__submit-button {
    width: 100%;
  }
  .modal__input {
    max-width: 276px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 24px;
    padding-left: 12px;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_preview {
    top: -40px;
    right: 4px;
    padding: 0;
    margin: 0;
    background-position: center;
  }
  .modal__image {
    max-width: 288px;
  }
}
